.git
.gitignore
.vscode

node_modules
**/node_modules

.next
**/.next

dist
**/dist

coverage
**/coverage

.env
.env.*
!.env.example
!**/.env.example

*.log
pnpm-debug.log*

sql-codes

apps/api/scripts

README.md
**/README.md

commands.txt